.s.catalogszag{
    padding-top: 200px;
}

.nizh{ 
    display: flex; 
    align-items: center; 
} 
 
.zagalov{ 
    width: 460px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    font-size: 20px; 
    margin-top: 20px; 
} 
 
.tsena{ 
    color: #e0b300; 
    font-size: 32px; 
    margin-right: 60px; 
} 
 
 
 
.button{ 
    background-color: #cb7d11; 
    color: white; 
    width: 254px; 
    height: 48px; 
    font-size: 20px; 
    border-radius: 5px; 
} 
 
.Tovars{ 
    margin-top: 40px; 
} 
 
.imagecart{ 
    width: 420px; 
    height: 344px; 
    border-radius: 10px; 
} 
 
.Textik{ 
    color: white; 
} 
 
.button a{ 
    color: white; 
} 
 
.quantity{ 
    margin-top: 20px; 
}

